<div id="configModal" class="ui large modal">
  <div class="ui icon header">
	<i class="cogs icon"></i>
	Invoicing Settings
  </div>
  <div class="content">
		<form id="configured" class="ui form">
		  <div class="field">
			<label>Partner Email:</label>
			<input id="pEmail" type="text" name="pEmail" ng-model="model.config.partner.email" required>
		  </div>
		  <div class="field">
			<label>Partner Client ID:</label>
			<input type="text" name="pClientId" ng-model="model.config.partner.client_id" required>
		  </div>
		  <div class="field">
			<label>Partner Client Secret</label>
			<input type="text" name="pClientSecret" ng-model="model.config.partner.client_secret" required>
		  </div>
		  <div class="field">
			<label>Merchant Email (Sender):</label>
			<input type="text" name="merchantEmail" ng-model="model.config.merchant.email" placeholder="invSender@domain.com">
		  </div>
		  <div class="field">
			<label>Consumer Email (Receiver):</label>
			<input type="text" name="consumerEmail" ng-model="model.config.consumer.email" placeholder="invReceiver@domain.com">
		  </div>
		  <div id="accessTokenField" class="disabled field" style="display: none;">
			<label>Access Token:</label>
			<input type="text" name="access_token" ng-model="model.config.access_token">
		  </div>
		</form>
		<div id="errorMsg" class="ui error message" style="display: none;"> ERROR!!
			<li ng-repeat="msg in model.errorMsg.message">
				[[msg]]
			</li>
		</div>
		<div id="configModalLoading" style="display: none;">
                <segment-loader></segment-loader>
        </div>
		<div id="connectMerchant" style="display: none;">
			<cwpp-button></cwpp-button>
		</div>
  </div>
  <div class="actions">
  	<div id="useDefaultButton" ng-click="model.useDefault()" class="ui red submit button">
	  <i class="redo icon"></i>
	  Use Default Creds
	</div>
	<div id="cancelEditButton" ng-click="model.cancelEditConfig()" class="ui red submit button">
	  <i class="remove icon"></i>
	  Cancel
	</div>
	<div id="connectMerchantButton" ng-click="model.connectMerchant()" class="ui green submit button">
	  <i class="checkmark icon"></i>
	  Connect a Merchant
	</div>
	<div id="saveSettingsButton" ng-click="model.saveSettings()" class="ui green submit button">
	  <i class="checkmark icon"></i>
	  Save Settings
	</div>
	<div id="cancelConnectMerchantButton" style="display: none;" ng-click="model.cancelConnectMerchant()" class="ui red submit button">
	  <i class="checkmark icon"></i>
	  Cancel Connect Merchant
	</div>
  </div>
</div>


